nav{
 position: fixed;
 top: 0;
 width: 100%;
 background-color: teal;
}
ul {
    list-style-type: none;
    overflow: hidden;
    
  
    display: flex;
    justify-content: center;
  }
  
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 5px;
  }
  
 